@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard.css";
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
}
