/* index.css */
@import "tailwindcss";

/* 1. 패키지에서 제공하는 폰트 설정 불러오기 (경로 직접 적을 필요 없음) */
@import "pretendard/dist/web/static/pretendard.css";

:root {
  /* 필요하다면 변수 설정 */
}

body {
  /* 2. 폰트 패밀리 적용 */
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, sans-serif;
}
